@media screen and (max-width: 1140px){
    
}

@media screen and (max-width: 965px) {
    .header-block {
        flex-direction: column;
    }

    .hero-section {
        margin-top: 20px;
    }

    .hero-section-block {
        flex-direction: column;
    }

    .why-us-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }

    .why-us-block__title {
        text-align: center;
    }

    .why-us-block__img {
        display: none;
    }

    .why-us-block-flexbox {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .why-us-block-flexbox-innerBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .why-us-block-flexbox-innerBox__text {
        text-align: center;
    }
}

@media  (max-width:660px) {
    .header-block {
        align-items: flex-start;
        padding-left: 20px;
    }
    
    .header-block h1 {
        margin: auto;
        padding-top: 15px;
    }
    
    .header-block__logo {
        padding: 0;
        margin: 0 auto;
    }

    .header-block-nav {
        display: none;
    }

    .visually-hidden {
        
        overflow: visible;
        display: inline-block;
    }

    .visually-hidden:checked ~ nav {
        display: block;
    }
    
    .hero-section-block-textBox {
        text-align: center;
    }
    
    .hero-section-block__img {
        width: 70%;
    }
    
    .hero-section-block-textBox__img {
        display: none;
    }
    
    .hero-section-block-textBox__btn {
        margin: 0 auto;
    }
}

@media  (max-width: 540px) {
    .hero-section-block-textBox-box__title {
        font-size: 24px;
    }
    
    .hero-section-block-textBox-box__text {
        padding: 0 25px; 
    }
    
    .why-us-block__title {
        font-size: 42px;
        width: 300px;
    }
}